body {
    background-color: black;
    color: antiquewhite;

}
.Button {
    width: 230px;
    height: 30px;
    background-color: black;
    color: antiquewhite;
    border: none;
    margin-bottom: -10px;
}
.ButtonSearch {
    background-color: lightblue;
    color: gray;
    border: none;
}
#ButtonSearch1 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#ButtonSearch2 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.title_article {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 500px;
    width: 1330px;
    filter: brightness(70%);
}
p {
    font-family: Helvetica;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 50px;
}
h1 {
    margin-top: 60px; 
    margin-bottom: 60px;
    font-size: 70px;
}
.source {
    font-style: italic;
    font-size: 15px;
    font-family: 'Times New Roman';
    margin-top: -50px;
    margin-bottom: -20px;
}
.note {
    margin-left: 400px;
    margin-top: -20px;
    margin-bottom: -20px;
    font-style: italic;
    font-size: 15px;
    font-family: 'Times New Roman';
}
img {
    width: 800px;
}
.ButtonNote {
    background-color: transparent;
    color: antiquewhite;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}